# Enable Surface Aggregator Module (SAM) wakeup for power button and keyboard wake from suspend
SUBSYSTEM=="serial", KERNEL=="serial0-0", ATTR{power/wakeup}="enabled"
