##
## Config options specific to Fedora
##

##
## The build fails because this is not enabled in the config set for RHEL,
## but enabled automatically by one of our patches.
##
CONFIG_VIDEO_V4L2_SUBDEV_API=y

##
## Compress debug info to prevent GitHub Actions from running out of space.
##
CONFIG_DEBUG_INFO_COMPRESSED_ZLIB=y
# CONFIG_DEBUG_INFO_COMPRESSED_NONE is not set
