##
## Config options specific to Fedora
##

## The build fails because this is not enabled in the config set for RHEL,
## but enabled automatically by one of our patches.
CONFIG_VIDEO_V4L2_SUBDEV_API=y


## Building on GitHub fails when debug symbols are enabled due to the amount of
## disk space required. Disable them.
CONFIG_DEBUG_INFO_NONE=y
# CONFIG_DEBUG_INFO is not set
# CONFIG_DEBUG_INFO_BTF is not set
# CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT is not set
# CONFIG_DEBUG_INFO_DWARF4 is not set
# CONFIG_DEBUG_INFO_DWARF5 is not set
