# Type Cover Re-attach (SP4)
ACTION=="add", SUBSYSTEMS=="usb", ATTR{iProduct}=="Surface Type Cover", RUN+="/bin/sleep 5 && /sbin/modprobe -r i2c_hid && /sbin/modprobe i2c_hid"

# Keyboard Dock (SB2)
ACTION=="add", SUBSYSTEMS=="usb", ATTR{idVendor}=="045e", ATTR{idProduct}=="0922", RUN+="/sbin/modprobe nouveau"

#Keyboard Undock (SB2)
ACTION=="remove", SUBSYSTEMS=="usb", ENV{ID_MODEL}=="Surface_Keyboard", RUN+="/sbin/modprobe -r nouveau"
