# IPTS Touchscreen (SP4)
SUBSYSTEMS=="input", ATTRS{name}=="ipts 1B96:006A", ENV{ID_INPUT_TOUCHSCREEN}="1", SYMLINK+="input/touchscreen"

# IPTS Touchscreen (SP4)
SUBSYSTEMS=="input", ATTRS{name}=="ipts 1B96:006A UNKNOWN", ENV{ID_INPUT_TOUCHSCREEN}="1", SYMLINK+="input/touchscreen"

# IPTS Pen (SP4)
SUBSYSTEMS=="input", ATTRS{name}=="ipts 1B96:006A Pen", SYMLINK+="input/pen"

# IPTS Touchscreen (SB)
SUBSYSTEMS=="input", ATTRS{name}=="ipts 1B96:005E", ENV{ID_INPUT_TOUCHSCREEN}="1", SYMLINK+="input/touchscreen"

# IPTS Touchscreen (SB)
SUBSYSTEMS=="input", ATTRS{name}=="ipts 1B96:005E UNKNOWN", ENV{ID_INPUT_TOUCHSCREEN}="1", SYMLINK+="input/touchscreen"

# IPTS Pen (SB)
SUBSYSTEMS=="input", ATTRS{name}=="ipts 1B96:005E Pen", SYMLINK+="input/pen"
