# Type Cover Re-attach (SP4)
ACTION=="add", SUBSYSTEM=="usb", ATTRS{product}=="Surface Type Cover", RUN+="/sbin/modprobe -r i2c_hid && /sbin/modprobe i2c_hid"
