#
# Surface Aggregator Module
#
CONFIG_GPIO_SYSFS=y                         # required for SURFACE_SAM_HPS
CONFIG_SURFACE_SAM=m
CONFIG_SURFACE_SAM_SSH=m
CONFIG_SURFACE_SAM_SSH_ERROR_INJECTION=n
CONFIG_SURFACE_SAM_DEBUGFS=m
CONFIG_SURFACE_SAM_DEVICE_HUB=m
CONFIG_SURFACE_SAM_SAN=m
CONFIG_SURFACE_SAM_KBD=m
CONFIG_SURFACE_SAM_DTX=m
CONFIG_SURFACE_SAM_HPS=m
CONFIG_SURFACE_SAM_PERFMODE=m
CONFIG_SURFACE_SAM_HID=m
CONFIG_SURFACE_SAM_PSY=m


#
# IPTS touchscreen
#
CONFIG_TOUCHSCREEN_IPTS=m

#
# Other Drivers
#
CONFIG_INPUT_SOC_BUTTON_ARRAY=m
CONFIG_SURFACE_3_BUTTON=m
CONFIG_SURFACE_3_POWER_OPREGION=m
CONFIG_SURFACE_PRO3_BUTTON=m
CONFIG_SURFACE_GPE=m
