##
## Surface Aggregator Module
##
CONFIG_SURFACE_AGGREGATOR=m
# CONFIG_SURFACE_AGGREGATOR_ERROR_INJECTION is not set
CONFIG_SURFACE_AGGREGATOR_BUS=y
CONFIG_SURFACE_AGGREGATOR_CDEV=m
CONFIG_SURFACE_AGGREGATOR_HUB=m
CONFIG_SURFACE_AGGREGATOR_REGISTRY=m
CONFIG_SURFACE_AGGREGATOR_TABLET_SWITCH=m

CONFIG_SURFACE_ACPI_NOTIFY=m
CONFIG_SURFACE_DTX=m
CONFIG_SURFACE_PLATFORM_PROFILE=m

CONFIG_SURFACE_HID=m
CONFIG_SURFACE_KBD=m

CONFIG_BATTERY_SURFACE=m
CONFIG_CHARGER_SURFACE=m

CONFIG_SENSORS_SURFACE_TEMP=m
CONFIG_SENSORS_SURFACE_FAN=m

CONFIG_RTC_DRV_SURFACE=m

##
## Surface Hotplug
##
CONFIG_SURFACE_HOTPLUG=m

##
## IPTS and ITHC touchscreen
##
## This only enables the user interface for IPTS/ITHC data.
## For the touchscreen to work, you need to install iptsd.
##
CONFIG_HID_IPTS=m
CONFIG_HID_ITHC=m

##
## Cameras: IPU3
##
CONFIG_VIDEO_DW9719=m
CONFIG_VIDEO_IPU3_IMGU=m
CONFIG_VIDEO_IPU3_CIO2=m
CONFIG_IPU_BRIDGE=m
CONFIG_INTEL_SKL_INT3472=m
CONFIG_REGULATOR_TPS68470=m
CONFIG_COMMON_CLK_TPS68470=m
CONFIG_LEDS_TPS68470=m

##
## Cameras: Sensor drivers
##
CONFIG_VIDEO_OV5693=m
CONFIG_VIDEO_OV7251=m
CONFIG_VIDEO_OV8865=m

##
## Surface 3: atomisp causes problems (see issue #1095). Disable it for now.
##
# CONFIG_INTEL_ATOMISP is not set

##
## ALS Sensor for Surface Book 3, Surface Laptop 3, Surface Pro 7
##
CONFIG_APDS9960=m

##
## Build-in UFS support (required for some Surface Go devices)
##
CONFIG_SCSI_UFSHCD=m
CONFIG_SCSI_UFSHCD_PCI=m

##
## Other Drivers
##
CONFIG_INPUT_SOC_BUTTON_ARRAY=m
CONFIG_SURFACE_3_POWER_OPREGION=m
CONFIG_SURFACE_PRO3_BUTTON=m
CONFIG_SURFACE_GPE=m
CONFIG_SURFACE_BOOK1_DGPU_SWITCH=m
