##
## Disable debug info
##

# CONFIG_DEBUG_INFO is not set

##
## Additional options from upstream (not in PPA)
##

CONFIG_ASHMEM=m
CONFIG_ANDROID=y
CONFIG_ANDROID_BINDER_IPC=m
#CONFIG_ANDROID_BINDERFS is not set
CONFIG_ANDROID_BINDER_DEVICES="binder"
#CONFIG_ANDROID_BINDER_IPC_SELFTEST is not set

##
## Indirect dependencies for Surface drivers
##

CONFIG_I2C=y
CONFIG_ACPI_I2C_OPREGION=y

##
## Disable atomisp ov5693 (in staging)
##

# CONFIG_VIDEO_ATOMISP_OV5693 is not set
