##
## Forcefully disable debug symbols
##

CONFIG_DEBUG_INFO_NONE=y
# CONFIG_DEBUG_INFO is not set
# CONFIG_DEBUG_INFO_BTF is not set
# CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT is not set
# CONFIG_DEBUG_INFO_DWARF4 is not set
# CONFIG_DEBUG_INFO_DWARF5 is not set

##
## Disable module compression
##
# CONFIG_MODULE_COMPRESS is not set

##
## Do not build samples and tests
##

# CONFIG_SAMPLES is not set
# CONFIG_STM_DUMMY is not set
# CONFIG_TEST_BPF is not set
# CONFIG_DEBUG_MISC is not set
# CONFIG_UBSAN is not set

##
## Don't build atomisp
##
# CONFIG_INTEL_ATOMISP is not set

##
## Clear out trusted key list as we don't have them.
##

CONFIG_SYSTEM_TRUSTED_KEYS=""
CONFIG_SYSTEM_REVOCATION_KEYS=""

##
## Modules required for running Android apps
##
## Ubuntu builds binder as a module by patching the Makefile. To keep it
## simple, we just put it into vmlinux. One patch less to keep track of.
##

CONFIG_ANDROID_BINDER_IPC=y
CONFIG_ANDROID_BINDERFS=y
CONFIG_ANDROID_BINDER_DEVICES=""
# CONFIG_ANDROID_BINDER_IPC_SELFTEST is not set

##
## Indirect dependencies for Surface drivers
##

CONFIG_I2C=y
CONFIG_ACPI_I2C_OPREGION=y

##
## Disable atomisp ov5693 (in staging)
##

# CONFIG_VIDEO_ATOMISP_OV5693 is not set

##
## Disable GDS mitigation. Enabling GDS mitigations disables AVX
## instructions, which causes a bunch of invalid opcode errors because
## some programs assume AVX is present.
##

# CONFIG_MITIGATION_GDS_FORCE is not set

##
## Disable evbug. It's annoying and potentially even a security risk when
## posting kernel logs...
##

# CONFIG_INPUT_EVBUG is not set

##
## Config options required for backlight on Surface 3.
##

CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_I2C_DESIGNWARE_BAYTRAIL=y
CONFIG_I2C_DESIGNWARE_PCI=y
CONFIG_INTEL_SOC_PMIC=y
CONFIG_PWM_CRC=y
