[Unit]
Description=Surface Go Touchscreen Power Management
ConditionPathExists=/sys/devices/pci0000:00/0000:00:15.1/i2c_designware.1/power/control

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "echo on > /sys/devices/pci0000:00/0000:00:15.1/i2c_designware.1/power/control"

[Install]
WantedBy=multi-user.target
