[Unit]
Description=Surface Go Touchscreen Power Management

[Service]
Type=oneshot
RemainAfterExit=yes
ConditionPathExists=/sys/devices/pci0000:00/0000:00:15.1/i2c_designware.1/power/control
Exec=/bin/sh -c "echo on > /sys/devices/pci0000:00/0000:00:15.1/i2c_designware.1/power/control"

[Install]
WantedBy=multi-user.target
